//
// Distributed Systems Lab
// Copyright (C) Konrad Iwanicki, 2012-2014
//
// This file contains code samples for the distributed systems
// course. It is intended for internal use only.
//

//grant codeBase "file:/home/tomek/dev/u2/sr/cloudalbum/out/production/cloudalbum/" {
//    permission java.security.AllPermission;
//};

grant codeBase "file:/home/tomek/dev/u2/sr/cloudalbum/out/production/cloudalbum/-" {
    permission java.security.AllPermission;
};
